/vendor
/node_modules
/filament
/bootstrap/cache/*.php
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/.env
/.env.local
/.env.*.local
/phpunit.xml
/phpunit.xml.dist
/.idea
/.vscode
/*.log
*.sqlite
database/database.sqlite
/storage/app/service-invoices/*
/storage/app/private/service-invoices/*
/storage/fonts/*
.phpunit.cache